[submodule "stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = dev
[submodule "openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/apexad/SDL.git
	branch = touchhle-ios-host
