[submodule "stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = dev
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/iDared32bit-emu/SDL.git
	branch = touchhle-ios-host
